.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sudents{
  border: solid green;
  /* height: 200px; */
  width: 50%;
  margin: 2px; 

}
.name{
  border: solid blue;
  height: 40px;
  width: 100%;
  background-color: #61dafb;
 
}
.bio{
  border: solid black;
  height: auto;
  width: 100%;
  margin-top: 2px;
  background-color: antiquewhite;
}
.score{
  border: solid black;
  height: 200px;
  width: 50%;
  margin: 2px;

}
.dateSore{
  border: solid blue;
  height: 40px;
  width: 100%;
  background-color: #61dafb;
  display: flex;
}
.scores{
  border: solid black;
  height: 150px;
  width: 100%;
  display: block;
  background-color: antiquewhite;
  display: flex;
}
.display{
  border: solid red;
  height: auto;
  width: auto;
  display: flex;
}